<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="favicon.png" />
    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <!-- Bootstrap CSS and Font Awesome -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Marmelad&display=swap" rel="stylesheet">
    <link href="/css/tiny-slider.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dash.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
      .errormessagedash {
        color: red;
        font-size: 14px;
        margin-top: 5px;
      }
    </style>

  </head>
  <body>
    <%- include("./layouts/header.ejs") %>
    <div class="containerdac">
      <div class="sidebar">
        <ul>
          <li><a  href="/dashboard"><i class="fa-solid fa-user" style="color: #000000;"></i><span style="margin-left: 3px;">Dashboard</span> </a></li>
          <li><a href="/orders"><i class="fa-solid fa-briefcase" style="color: #000000;"></i><span  style="margin-left: 3px;">Orders</span></a></li>
          <li><a class="sdashbord" href="/my-address"><i class="fa-solid fa-location-dot" style="color: #ffffff;"></i><span style="margin-left: 3px; color: #ffffff;">My Address</span></a></li>
          <% if(user.isGoogleLogin === false){ %>
          <li><a href="/change-password"><i class="fa-solid fa-key" style="color: #000000;"></i><span style="margin-left: 3px;">Change Password</span></a></li>
          <% } %>
          <li><a href="/wallet"><i class="fa-solid fa-wallet" style="color: #000000;"></i><span style="margin-left: 3px;">Wallet</span></a></li>
          <li><a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket" style="color: #000000;"></i><span style="margin-left: 3px;">Logout</span></a></li>
        </ul>
      </div>
      <div class="content">
        <div class="dash-box">
        <p style="color: #000000; font-weight: bold;">Address</p>
        </div>
        <div class="dashpbox">
          <button class="add-address" id="addAddress" onclick="addressAddForm(event)">Add New</button>
          <br>
          <form id="addressForm" style="display: none;" onsubmit="addressFormValidation(event)">
          <input type="text" name="" id="houseNumber" placeholder="House Number">
          <p id="houseNumberError" style="color: red; font-size: 14px; margin-top: 5px;" ></p>
          <input type="text" name="" id="street" placeholder="Street">
          <p id="streetError" style="color: red; font-size: 14px; margin-top: 5px;" ></p>
          <input type="text" name="" id="city" placeholder="City">
          <p id="cityError" style="color: red; font-size: 14px; margin-top: 5px;" ></p>
          <input type="text" name="" id="landmark" placeholder="Landmark">
          <p id="landmarkError" style="color: red; font-size: 14px; margin-top: 5px;" ></p>
          <input type="text" name="" id="district" placeholder="District">
          <p id="districtError" style="color: red; font-size: 14px; margin-top: 5px;" ></p>
          <input type="text" name="" id="state" placeholder="State">
          <p id="stateError" style="color: red; font-size: 14px; margin-top: 5px;" ></p>
          <input type="text" name="" id="Country" placeholder="Country">
          <p id="CountryError" style="color: red; font-size: 14px; margin-top: 5px;" ></p>
          <input type="text" name="" id="pinCode" placeholder="Pin Code">
          <p id="pinCodeError" style="color: red; font-size: 14px; margin-top: 5px;" ></p>
          <button class="add-address">Create</button>
        </form>
        <% address.forEach(data=>{ %>
          <div data-id="<%= data._id %>" class="address-box" >
            <div class="address-boxes">
              <p>House Number: <%= data.houseNumber %></p>
              <p>Street: <%= data.street %></p>
              <p>Landmark: <%= data.landmark %></p>
              <p>City: <%= data.city %></p>
              <p>District: <%= data.district %></p>
              <p>State: <%= data.state %></p>
              <p>Country: <%= data.country %></p>
              <p>Pin Code: <%= data.pinCode %></p>
            </div>
            <div>
              <button class="edit-address" data-id="<%= data._id %>" >EDIT</button>
              <button class="remove-address">REMOVE</button>
            </div>
            <!-- Edit Form for this address -->
            <form class="edit-address-form" data-id="<%= data._id %>" style="display: none;">
              <input type="text" name="" class="EhouseNumber" value="<%= data.houseNumber %>" placeholder="House Number">
              <p class="EhouseNumberError" style="color: red; font-size: 14px; margin-top: 5px;" ></p>
              <input type="text" name="" class="Estreet" value="<%= data.street %>" placeholder="Street">
              <p class="EstreetError" style="color: red; font-size: 14px; margin-top: 5px;" ></p>
              <input type="text" name="" class="Ecity" value="<%= data.city %>" placeholder="City">
              <p class="EcityError" style="color: red; font-size: 14px; margin-top: 5px;" ></p>
              <input type="text" name="" class="Elandmark" value="<%= data.landmark %>" placeholder="Landmark">
              <p class="ElandmarkError" style="color: red; font-size: 14px; margin-top: 5px;" ></p>
              <input type="text" name="" class="Edistrict" value="<%= data.district %>" placeholder="District">
              <p class="EdistrictError" style="color: red; font-size: 14px; margin-top: 5px;" ></p>
              <input type="text" name="" class="Estate" value="<%= data.state %>" placeholder="State">
              <p class="EstateError" style="color: red; font-size: 14px; margin-top: 5px;" ></p>
              <input type="text" name="" class="ECountry" value="<%= data.country %>" placeholder="Country">
              <p class="ECountryError" style="color: red; font-size: 14px; margin-top: 5px;" ></p>
              <input type="text" name="" class="EpinCode" value="<%= data.pinCode %>" placeholder="Pin Code">
              <p class="EpinCodeError" style="color: red; font-size: 14px; margin-top: 5px;" ></p>
              <button type="submit" class="edit-address-btn">Save</button>
            </form>
          </div>
        <% }) %>
        
      </div>
      </div>
    </div>
    <%- include("./layouts/footer.ejs") %>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Fix the script path -->
    <script src="js/users/myAddress.js"></script>

    <script>
      
    </script>
  </body>
</html>
