<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= product.name %> - Product Details</title>
    <link href="/css/tiny-slider.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/pdtDetails.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <%- include("./layouts/header.ejs") %>

    <div class="container mt-5 product-detail-container">
      <% if (product) { %>
      <div class="row">
        <!-- Left: Main Product Image and Thumbnails -->
        <div class="col-md-6 product-images">
          <div class="main-image mb-3" id="mainImageContainer">
            <img
              id="mainImage"
              src="/<%= product.images[0] %>"
              class="img-fluid"
              alt="<%= product.name %>"
            />
            <div class="zoom-circle" id="zoomCircle"></div> <!-- Zoom circle -->
          </div>
          <div class="thumbnail-images d-flex">
            <% product.images.forEach((image, index) => { %>
            <img
              src="/<%= image %>"
              class="thumbnail img-thumbnail"
              alt="<%= product.name %>"
            />
            <% }) %>
          </div>
        </div>

        <!-- Right: Product Details -->
        <div class="col-md-6 product-info">
          <h1 class="product-title"><%= product.name %></h1>
          <p class="price">
            <span class="offer-price"
              >&#8377;<%= product.offerPrice ? product.offerPrice :
              product.price %></span
            >
            <span class="original-price">&#8377;<%= product.price %></span>
            <span class="discount">25% Off</span>
          </p>
          <p class="description"><%= product.description %></p>

          <ul class="features">
            <li>1 Year Brand Warranty</li>
            <li>30 Days Return Policy</li>
            <li>Cash on Delivery Available</li>
          </ul>

          <!-- Color and Size Options -->
          <div class="options mt-4">
            <div class="color-options mb-3">
              <label>Color:</label>
              <% product.colors.forEach(color => { %>
              <button
                class="color-option"
                style="background-color: <%= color %>"
              ></button>
              <% }) %>
            </div>
            <div class="size-options mb-3">
              <label>Size:</label>
              <% product.sizes.forEach(size => { %>
              <label class="size-option"
                ><input type="radio" name="size" value="<%= size %>" /> <%= size
                %></label
              >
              <% }) %>
            </div>
          </div>

          <!-- Add to Cart and Buy Now -->
          <div class="actions mt-3">
            <button class="btn btn-primary">Add to Cart</button>
            <button class="btn btn-warning">Buy Now</button>
          </div>
        </div>
      </div>

      <!-- Reviews and Related Products -->
      <div class="row mt-5">
        <div class="col-12">
          <h3>Reviews</h3>
          <!-- Add Reviews Section Here -->

          <h3 class="mt-5">Related Products</h3>
          <div class="related-products d-flex flex-wrap">
            <% relatedProducts.forEach(function(relatedProduct) { %>
            <div class="col-md-3 text-center related-product">
              <img
                src="/<%= relatedProduct.images[0] %>"
                class="img-fluid"
                alt="<%= relatedProduct.name %>"
              />
              <p><%= relatedProduct.name %></p>
              <p class="price">&#8377;<%= relatedProduct.offerPrice %></p>
              <a
                href="/productDetails/<%= relatedProduct._id %>"
                class="btn btn-outline-primary"
                >View</a
              >
            </div>
            <% }) %>
          </div>
        </div>
      </div>
      <% } else { %>
      <p>Product not found.</p>
      <% } %>
    </div>
    <%- include("./layouts/footer.ejs") %>
    
    <script src="/js/jquery.min.js"></script>
  <script src="/js/users/pDetails.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
