<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <meta name="author" content="Untree.co" />
      <link rel="shortcut icon" href="favicon.png" />
      <meta name="description" content="" />
      <meta name="keywords" content="bootstrap, bootstrap4" />
    
      <!-- Bootstrap CSS and updated Font Awesome for icons -->
      <link href="css/bootstrap.min.css" rel="stylesheet" />
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet" />
      
    
      <!-- Google Fonts and other stylesheets -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Marmelad&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Marmelad&display=swap" rel="stylesheet">
      <link href="/css/tiny-slider.css" rel="stylesheet" />
      <link rel="stylesheet" href="/css/style.css">
      <link href="/css/bootstrap.min.css" rel="stylesheet" />
    </head>
<body>
  <%- include("./layouts/header.ejs") %>
    <div class="containerdac">
        <div class="sidebar">
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Orders</a></li>
                <li><a href="#">Update Profile</a></li>
                <li><a href="#">My Address</a></li>
                <li><a href="#">Change Password</a></li>
                <li><a href="#">Wallet</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
        <div class="content">
          <div style="border: 1px solid black;background-color: rgba(209, 209, 209, 0.713);padding: 5px;border-radius: 5px;">
          <p style=" font-family: Marmelad, serif; font-style: normal; "><%= user.userName%></p></div>
          <div style="border: 1px solid black;padding: 2%; border-radius: 5px;"> 
            <p><strong>User name:</strong><%= user.userName %></p>
            <p><strong>Email:</strong> <%= user.email %></p>
            <% if(user.mobileNumber){ %>
                  <p><strong>Mobile Number:</strong> <%= user.mobileNumber %></p>
                <% } %>
            <p><strong>Created At:</strong> <%= user.createdAt %></p>
          </div>
        </div>
    </div>

    <%- include("./layouts/footer.ejs") %>

</body>
</html>
